﻿@page "/"
@page "/mailsent"
@using blazorSvr.Utils
@using blazorSvr.Reposit
@using System.IO
@using System.Linq

<h2>送付済みのメールデータ</h2>


@if ( folders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>フォルダ名</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in folders.OrderByDescending(a => a))
            {
                <tr>
                    <td>@s</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<string> folders;
    //private string date = Utils.Tools.getDateOnlyNumerics();
    protected override async Task OnInitializedAsync()
    {
        folders = await Task.Run(()=> {
            var wk = new List<string>();
            //var sentfiles = getSentFilenames();
            var di = getDi();
            //foreach(string s in sentfiles){
            foreach(DirInfo d in di.SubDirs){
                //wk.Add((Path.GetFileName(s), "aaa"));
                wk.Add(getSubTitle(d));
            }
            return wk;
        }
        );
    }

    private DirInfo getDi(){
        string sentDataPath = EnvCommon.path2mailDataSent();
        return NestedFileList.Get(sentDataPath);
    }

    private string getSubTitle(DirInfo d){
        string msgFile = Path.Combine(d.DirPath, "message.txt");
        if(File.Exists(msgFile)){
            string subTitle = File.ReadLines(msgFile).First();
            return subTitle;
        }else{
            string foldername = Path.GetFileName(d.DirPath);
            return $"{foldername}(no_message)";
        }
    }

    /*
    private List<string> getSentFilenames(){
        string sentDataPath = EnvCommon.path2mailDataSent();
        var sentfiles = Directory.GetDirectories(sentDataPath).ToList();
        return sentfiles;
    }
    */

}
