@page "/yggyomuupdate"
@using System.IO
@using blazorSvr.Reposit
@using blazorSvr.Utils

@if(existsUnsent){

    <!--div style="display: flex; flex-derection: column" -->
    <div>
        <div style="background-color: lightgray;">
            <h3>以下の未送信データがあります。</h3>
            <p>送信するか、削除してください。</p>
        </div>
        <hr>
        <FolderList di="@di"></FolderList>
    </div>
}else{
    <YgGyomuUpdateMain></YgGyomuUpdateMain>
}

@code{
    private bool existsUnsent = false;
    private string path2mailFolder = EnvCommon.path2mailFolder();
    private DirInfo di;
    protected override void OnInitialized()
    {
        //string[] files = Directory.GetDirectories(path2mailFolder);
        di = NestedFileList.Get(path2mailFolder);
        if(di.SubDirs.Count() > 0){
            existsUnsent = true;
        }
    }
}