@page "/ygmailsend"
@using System.IO
@using blazorSvr.Reposit
@using blazorSvr.Components
@using blazorSvr.Utils
@inject blazorSvr.Services.MailState ms

@if(mailDataExists){
    <div style="display: flex; flex-derection:column; flex-wrap:nowrap">
        <div style="flex: 1">
            <FolderList di="@dirInfo" @ref="folderList"></FolderList>
            <button class="btn btn-warning" @onclick="removeEmptyFolder">空のフォルダを削除</button>
        </div>
        <div style="margin: 0 irem; width: 1px; background-color:#000"></div>
        <div style="flex: 1">
            @if(onEdit){
                <MessageSet onSendMailClicked="@mailSent"></MessageSet>
                <br>
            }else{
                <MailConfirm onBack2Edit="@(()=> {onEdit = true;})"/>
            }
        </div>
    </div>
}else{
    <h3 style="color: magenta">メールデータはありません。</h3>
}

@code{
    FolderList folderList;
    private bool onEdit= true;
    private bool mailDataExists= true;
    private string path2mailFolder;
    private DirInfo dirInfo;

    private void mailSent(){
        onEdit = false;
    }

    private void removeEmptyFolder(){
        string mailDataFolder = MoveMailData.GetMailFolderPath();
        string subFolder;
        int n;
        foreach(string s in FolderSkeleton.subFolders){
            subFolder = Path.Combine(mailDataFolder, s);
            try{
                n = Directory.GetFiles(subFolder).Length;
                if(n == 0){
                    Directory.Delete(subFolder);
                }
            }catch{ }
        }
        dirInfo = NestedFileList.Get(path2mailFolder);
        folderList.Refresh(dirInfo);
    }
    protected override void OnInitialized()
    {
       path2mailFolder = EnvCommon.path2mailFolder();
       string[] folders = Directory.GetDirectories(path2mailFolder);
       if(folders.Length == 0){
            mailDataExists= false; 
       }else{
           dirInfo = NestedFileList.Get(path2mailFolder);
           ms.MailDataFolderName = dirInfo.SubDirs[0].getFoldername();
       }
    }

}