@using System.IO
@using blazorSvr.Reposit
@using blazorSvr.Utils
@inject blazorSvr.Services.MailState ms

<h2>フォルダ名：@di.RootDir</h2>

@foreach (var item in di.SubDirs)
{
    <li><span style="font-size: x-large;">サブフォルダー：@item.getFolderName()</span></li>
        <ul>
            @foreach (DirInfo d in @item.SubDirs)
            {
                <li>@d.getFoldername()</li>
                    <ul>
                        @foreach (string s in d.getFileNameList())
                        {
                            <li>@s</li> 
                        }
                    </ul>
            }
        </ul>
}

@code{
    [Parameter]
    //public string folderPath {get; set;} = "";
    //static DirectoryInfo dirWk = new DirectoryInfo(EnvCommon.path2mailFolder());
    public DirInfo di{get; set;}// = NestedFileList.Get(EnvCommon.path2mailFolder());

    List<string> collection = LocalPaths.GetRecList();
    
    protected override void OnInitialized()
    {
        /*
        if(folderPath != "") di = NestedFileList.Get(folderPath);
        if(ms.MailDataFolderName == ""){
            ms.MailDataFolderName = di.SubDirs[0].getFoldername();
        }
        */
    }
    public void Refresh(DirInfo diData){
        di = diData;
        //di = NestedFileList.Get(folderPath);
        this.InvokeAsync(()=>StateHasChanged());
    }

}