@using System.IO
@using blazorSvr.Reposit
@inject NavigationManager navMgr
@inject blazorSvr.Services.MailState mState
@using blazorSvr.Services
@using ygMail

<div style="font-size: large;">
    <h3>ーー送信確認画面ーー</h3>
    <br>
    <p>タイトル: @mState.Title</p>
    <br><p>本文：</p>
    <pre style="background-color: #ccffff;">@mState.MailText</pre>
    <br>
    <button class="btn btn-primary" @onclick="back2Edit">編集画面へ戻る</button>
    <br><br><br>
    <button class="btn btn-danger" @onclick="sendMailClickedAsync">メール送信</button>
</div>

@code{
    private string dataFolderPath;
    private string zipFilePath;

    [Parameter]
    public EventCallback onBack2Edit{get; set;}
    protected async Task back2Edit(){
        await onBack2Edit.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        dataFolderPath = MoveMailData.GetMailFolderPath();
        
    }

    private async void sendMailClickedAsync(){
        await Task.Run(() => compressMailData());
        await Task.Run(()=> mailSend());
        await Task.Run(() => moveData2sentFolder());
        mState.MStateClear();
        navMgr.NavigateTo("/");
    }
    private void compressMailData(){
        string outFolder = EnvCommon.path2mailZipSent();
        zipFilePath = zipUtil.DotnetZip.CompressFolder(dataFolderPath, outFolder);
    }
    private void mailSend(){
        if(mState.MailSendOk == false) return;

        var mailParam = new SendMailParams(mState.Title, mState.MailText, mState.MailTest);
        mailParam.setAttachment(zipFilePath);
        YgMailSend.send(mailParam);

    }
    private void moveData2sentFolder(){
        //フォルダの移動＝移動先に指定されたフォルダを作成し内容がコピーされる
        string destFolderName = Path.GetFileName(dataFolderPath);
        string destFolderPath = Path.Combine(
            EnvCommon.path2mailDataSent(), destFolderName
        );
        Directory.Move(dataFolderPath, destFolderPath);         
        string mailMessage = mState.Title + "\n" + mState.MailText;
        string path2mailMessage = Path.Combine(destFolderPath, "message.txt");
        File.WriteAllText(path2mailMessage, mailMessage);
    }

}