@using System.IO
@using blazorSvr.Reposit
@using blazorSvr.Shared
@using blazorSvr.Services
@inject MailState Mstate

<div style="flex: 1">
    <h5 style="width:300px;margin:0 auto;text-align:center">タイトル・送信文の内容</h5><br>
    <EditForm Model="@Mstate" OnValidSubmit="@confirmMailClicked">
        タイトル: @title_all<br><br>

        タイトルに追加：<input id="title" @oninput="@(e => titleChanged(e.Value.ToString()))" @onfocusout="saveTitle2state" @bind="title_about" placeholder="@title_placeholder"/>_送信の件<br><br>

        <DataAnnotationsValidator />
        <ValidationSummary />
        <div style="display: flex; flex-direction: column;">
            送信文
            <InputTextArea id="name" @bind-Value="Mstate.MailText" style="width: 500px; height: 400px"/>

            <button type="submit" style="background-color: lightsteelblue;">確認画面へ</button>
        </div>
    </EditForm>
    <br>
    <p>※※データのないサブフォルダは<span style="color: red;">＊＊削除＊＊</span>されます。</p>

</div>

@code{
    string title_all = "";
    string title_about = "";
    string title_placeholder = "＊＊様変更";
    string date_today = "";
    //private ExampleModel exampleModel = new();
    private void titleChanged(string s){
        title_all = Mstate.MailDataFolderName + "_" + s + "_送信の件";
    }
    private void saveTitle2state(){
        Mstate.Title_about = title_about;
    }
    [Parameter]
    public EventCallback<string> onSendMailClicked {get; set;}
    protected async Task confirmMailClicked(){
        Mstate.Title = title_all;
        await onSendMailClicked.InvokeAsync();
    }
    protected override void OnInitialized()
    {
        title_about = Mstate.Title_about;
        if(Mstate.MailText == "") Mstate.MailText = getMailText();
        date_today = Utils.Tools.getDateOnlyNumerics();
        string wk = (title_about == "")? "******" : title_about;
        title_all = Mstate.MailDataFolderName + "_" + wk + "_送信の件";
    }

    private string getMailText(){
        {
            //string path = EnvCommon.path2mailTextFolder() + "\\mailText.txt";
            string path = EnvCommon.path2mailKoshinTemplate();
            string text = File.ReadAllText(path, System.Text.Encoding.UTF8);
            return text;
        }
    }

}