﻿@using System.IO
@using blazorSvr.Reposit
@using yg_chohyo
@inject Services.MailState mState

<h2>柳生川南部　組合データ更新</h2>

<h4>＜仮換地データ、図面の更新＞</h4><br><br>

@if (state == ""){
    <button class="btn btn-primary" @onclick="startUpdate">更新開始</button>
}
else if(state == "start") {
    <h4><em>更新処理中...データベース更新には１分ほど掛かります。</em></h4>
}
else if(state == "updated") {
    <h4><em>更新が完了しました。@progress</em></h4><br>
    <p>gyomu.slqliteのフォルダ=> ￥￥SV-OLD￥yagyu_settings</p>
    <br>
    <p>メール送信用のフォルダを作成し、データベースを入れます。</p>
    <button class="btn btn-primary" @onclick="createFolder">フォルダ作成＆DBコピー</button>
}else if(state == "folderExists"){
    <h4>フォルダが既に作成されています。</h4>
    <h5>データを送信するか、削除してください。</h5>
}else if(state == "folderOk"){
    <h5>フォルダを作成し、データベースを入れました。</h5>
    <h5>更新された仮換地重ね図、仮換地調書をフォルダへ入れた後、メニューからメール送信画面を選んでください。</h5>
}

@code {
    private string state = "";
    private string progress = "";
    protected async void startUpdate(){
        state = "start";
        if(mState.DbUpdate) await Task.Run( () => ReadExSheet.UpdateAll());
        state = "updated";
        await this.InvokeAsync(() => StateHasChanged());
    }

    protected async void createFolder(){
        string res = SetUpdateFolders.AddUpdateFolder(mState);
        if(res.StartsWith("Error")){
            state = "folderExists";
        }else{
            state = "folderOk";
            copyGyomuDb();
        }
        await this.InvokeAsync(() => StateHasChanged());
    }

    private void copyGyomuDb() {
        string mailDataFolder = MoveMailData.GetMailFolderPath();
        string mailDataGyomuDbPath = Path.Combine(mailDataFolder, "仮換地証明データ", "gyomu.sqlite");           
        string gyomuDbFromPath = MoveMailData.GetGyomuDbPath();
        File.Copy(gyomuDbFromPath, mailDataGyomuDbPath);
    }

    private async void waitSomeTime()
    {
        //await Task.Run(() => ReadExSheet.UpdateAll());
        await Task.Delay(2000);
       
    }

    

}
