﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">blazorSvr</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <!--li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li-->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="yggyomuupdate">
                <span class="oi oi-loop" aria-hidden="true"></span> 換地DB更新
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ygmailsend">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> メール送信
            </NavLink>
        </li>
        <!--li class="nav-item px-3">
            <NavLink class="nav-link" href="zipsent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 送付済みファイル
            </NavLink>
        </li-->
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
